*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.xml
*.log
*.lib
*.sbr
*/.idea
*.properties
*.iml
*/win
*/MacPHP
*.sh
*.bat
/nbproject/private/
/plugins/ColorMatch/nbproject/private/